USE [master]
GO
/****** Object:  Database [Exam]    Script Date: 22.06.2024 13:59:28 ******/
CREATE DATABASE [Exam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Exam_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Exam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Exam_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Exam.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Exam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Exam]
GO
/****** Object:  Table [dbo].[ExamOrder]    Script Date: 22.06.2024 13:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamOrder](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderDeliveryDate] [datetime] NOT NULL,
	[OrderPickupPoint] [int] NOT NULL,
	[OrderPickupCode] [int] NOT NULL,
 CONSTRAINT [PK__ExamOrde__C3905BAFC7CC9AED] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamOrderProduct]    Script Date: 22.06.2024 13:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamOrderProduct](
	[OrderID] [int] NOT NULL,
	[ProductArticleNumber] [nvarchar](100) NOT NULL,
	[Amount] [smallint] NOT NULL,
 CONSTRAINT [PK__ExamOrde__817A266255BBC081] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamPickupPoint]    Script Date: 22.06.2024 13:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamPickupPoint](
	[OrderPickupPoint] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ExamPickupPoint] PRIMARY KEY CLUSTERED 
(
	[OrderPickupPoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamProduct]    Script Date: 22.06.2024 13:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamProduct](
	[ProductArticleNumber] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductDescription] [nvarchar](max) NOT NULL,
	[ProductCategory] [nvarchar](max) NOT NULL,
	[ProductPhoto] [nvarchar](max) NULL,
	[ProductManufacturer] [nvarchar](max) NOT NULL,
	[ProductCost] [decimal](19, 4) NOT NULL,
	[ProductDiscountAmount] [tinyint] NULL,
	[ProductQuantityInStock] [int] NOT NULL,
	[ProductStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__ExamProd__2EA7DCD5BF55BCD9] PRIMARY KEY CLUSTERED 
(
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamRole]    Script Date: 22.06.2024 13:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamRole](
	[RoleID] [tinyint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__ExamRole__8AFACE3AA2D40FB8] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamUser]    Script Date: 22.06.2024 13:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [tinyint] NOT NULL,
	[UserSurname] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPatronymic] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](max) NOT NULL,
	[UserPassword] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__ExamUser__1788CCAC0829F7A9] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExamOrder] ON 

INSERT [dbo].[ExamOrder] ([OrderID], [UserID], [OrderStatus], [OrderDate], [OrderDeliveryDate], [OrderPickupPoint], [OrderPickupCode]) VALUES (1, 1, N'Новый ', CAST(N'2022-05-03T00:00:00.000' AS DateTime), CAST(N'2022-05-10T00:00:00.000' AS DateTime), 24, 201)
INSERT [dbo].[ExamOrder] ([OrderID], [UserID], [OrderStatus], [OrderDate], [OrderDeliveryDate], [OrderPickupPoint], [OrderPickupCode]) VALUES (2, NULL, N'Новый ', CAST(N'2022-05-05T00:00:00.000' AS DateTime), CAST(N'2022-05-11T00:00:00.000' AS DateTime), 25, 202)
INSERT [dbo].[ExamOrder] ([OrderID], [UserID], [OrderStatus], [OrderDate], [OrderDeliveryDate], [OrderPickupPoint], [OrderPickupCode]) VALUES (3, 2, N'Новый ', CAST(N'2022-05-06T00:00:00.000' AS DateTime), CAST(N'2022-05-12T00:00:00.000' AS DateTime), 26, 203)
SET IDENTITY_INSERT [dbo].[ExamOrder] OFF
GO
INSERT [dbo].[ExamOrderProduct] ([OrderID], [ProductArticleNumber], [Amount]) VALUES (1, N'F893T5', 2)
INSERT [dbo].[ExamOrderProduct] ([OrderID], [ProductArticleNumber], [Amount]) VALUES (1, N'А112Т4', 2)
INSERT [dbo].[ExamOrderProduct] ([OrderID], [ProductArticleNumber], [Amount]) VALUES (2, N'E530Y6', 1)
GO
SET IDENTITY_INSERT [dbo].[ExamPickupPoint] ON 

INSERT [dbo].[ExamPickupPoint] ([OrderPickupPoint], [Address]) VALUES (1, N'344288, г. Ангарск, ул. Чехова, 1')
INSERT [dbo].[ExamPickupPoint] ([OrderPickupPoint], [Address]) VALUES (2, N'614164, г.Ангарск,  ул. Степная, 30')
INSERT [dbo].[ExamPickupPoint] ([OrderPickupPoint], [Address]) VALUES (3, N'394242, г. Ангарск, ул. Коммунистическая, 43')
SET IDENTITY_INSERT [dbo].[ExamPickupPoint] OFF
GO
INSERT [dbo].[ExamProduct] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'A436H7', N'Тени Giorgio Armani Business', N'Мягкий и нежный 27 оттенок.', N'Косметика', N'pack://application:,,,/Images/тени_GiorgioArmani.jpg', N'Giorgio Armani S.p.A.', CAST(2399.0000 AS Decimal(19, 4)), 99, 16, N'В наличии')
INSERT [dbo].[ExamProduct] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'D344Y7', N'Парфюм Lacoste Classic', N'Насыщенный запах кофе и пчелинного мёда.', N'Парфюмерия', N'pack://application:,,,/Images/парфюм_Lacoste.jpg', N'Lacoste', CAST(31999.0000 AS Decimal(19, 4)), 13, 47, N'В наличии')
INSERT [dbo].[ExamProduct] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'D378D3', N'Парфюм Mark Jacobs eXecutive', N'Утонченный древесный аромат.', N'Парфюмерия', N'pack://application:,,,/Images/парфюм_MarcJacobs.jpg', N'Marc', CAST(12799.0000 AS Decimal(19, 4)), 18, 266, N'В наличии')
GO
SET IDENTITY_INSERT [dbo].[ExamRole] ON 

INSERT [dbo].[ExamRole] ([RoleID], [RoleName]) VALUES (1, N'Менеджер
')
INSERT [dbo].[ExamRole] ([RoleID], [RoleName]) VALUES (2, N'Клиент')
INSERT [dbo].[ExamRole] ([RoleID], [RoleName]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[ExamRole] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamUser] ON 

INSERT [dbo].[ExamUser] ([UserID], [RoleID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword]) VALUES (1, 1, N'Константинова ', N'Вероника', N'Агафоновна', N'loginDEsgg2018', N'qhgYnW')
INSERT [dbo].[ExamUser] ([UserID], [RoleID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword]) VALUES (2, 2, N'Меркушев ', N'Мартын', N'Федотович', N'loginDEdcd2018', N'LxR6YI')
INSERT [dbo].[ExamUser] ([UserID], [RoleID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword]) VALUES (3, 1, N'Казаков ', N'Федот', N'Кондратович', N'loginDEisg2018', N'Cp8ddU')
SET IDENTITY_INSERT [dbo].[ExamUser] OFF
GO
ALTER TABLE [dbo].[ExamOrder]  WITH CHECK ADD  CONSTRAINT [FK_ExamOrder_ExamPickupPoint] FOREIGN KEY([OrderPickupPoint])
REFERENCES [dbo].[ExamPickupPoint] ([OrderPickupPoint])
GO
ALTER TABLE [dbo].[ExamOrder] CHECK CONSTRAINT [FK_ExamOrder_ExamPickupPoint]
GO
ALTER TABLE [dbo].[ExamOrder]  WITH CHECK ADD  CONSTRAINT [FK_ExamOrder_ExamUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[ExamUser] ([UserID])
GO
ALTER TABLE [dbo].[ExamOrder] CHECK CONSTRAINT [FK_ExamOrder_ExamUser]
GO
ALTER TABLE [dbo].[ExamOrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__ExamOrder__Order__403A8C7D] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ExamOrder] ([OrderID])
GO
ALTER TABLE [dbo].[ExamOrderProduct] CHECK CONSTRAINT [FK__ExamOrder__Order__403A8C7D]
GO
ALTER TABLE [dbo].[ExamOrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__ExamOrder__Produ__412EB0B6] FOREIGN KEY([ProductArticleNumber])
REFERENCES [dbo].[ExamProduct] ([ProductArticleNumber])
GO
ALTER TABLE [dbo].[ExamOrderProduct] CHECK CONSTRAINT [FK__ExamOrder__Produ__412EB0B6]
GO
ALTER TABLE [dbo].[ExamUser]  WITH CHECK ADD  CONSTRAINT [FK_ExamUser_ExamRole] FOREIGN KEY([RoleID])
REFERENCES [dbo].[ExamRole] ([RoleID])
GO
ALTER TABLE [dbo].[ExamUser] CHECK CONSTRAINT [FK_ExamUser_ExamRole]
GO
/****** Object:  Statistic [_WA_Sys_00000002_74AE54BC]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000002_74AE54BC] ON [dbo].[ExamOrder]([UserID]) WITH STATS_STREAM = 0x010000000100000000000000000000005414E000000000001902000000000000D901000000000000380200003800000004000A0000000000000000000000000007000000F129660196B100000A000000000000000A000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000CDCCCC3F000020410000C040CDCCCC3F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F040000000400000A000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000006_74AE54BC]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000006_74AE54BC] ON [dbo].[ExamOrder]([OrderPickupPoint]) WITH STATS_STREAM = 0x01000000010000000000000000000000B19A02AA0000000076020000000000003602000000000000380300003800000004000A0000000000000000000000000007000000F029660196B100000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000020410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000BA00000000000000C200000000000000CA00000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F18000000040000100014000000803F0000803F0000803F1A000000040000100014000000803F0000803F0000803F1C000000040000100014000000803F0000803F0000803F1E000000040000100014000000803F0000803F0000803F20000000040000100014000000803F000000000000803F210000000400000A000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__ExamOrde__C3905BAFC7CC9AED]    Script Date: 22.06.2024 13:59:28 ******/
UPDATE STATISTICS [dbo].[ExamOrder]([PK__ExamOrde__C3905BAFC7CC9AED]) WITH STATS_STREAM = 0x0100000001000000000000000000000076879A230000000076020000000000003602000000000000380300003800000004000A0000000000000000000000000007000000F029660196B100000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000020410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000BA00000000000000C200000000000000CA00000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F000000000000803F0A0000000400000A000000000000000000000000000000,ROWCOUNT = 10,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_37A5467C]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000002_37A5467C] ON [dbo].[ExamOrderProduct]([ProductArticleNumber]) WITH STATS_STREAM = 0x01000000010000000000000000000000EA55E4AC000000001006000000000000D005000000000000E7030000E7000000C80000000000000015D0000000000000070000000E0C56018EB100001400000000000000140000000000000000000000CDCC4C3D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000014000000140000000100000010000000000040410000A04100000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000005C030000000000004C0400000000000054040000000000005C04000000000000A000000000000000C300000000000000E60000000000000009010000000000002C010000000000004F0100000000000072010000000000009501000000000000B801000000000000DB01000000000000FE010000000000002102000000000000440200000000000067020000000000008A02000000000000AD02000000000000D002000000000000F30200000000000016030000000000003903000000000000300010000000803F000000000000803F04000001002300410034003300360048003700300010000000803F000000000000803F04000001002300440033003400340059003700300010000000803F000000000000803F04000001002300440033003700380044003300300010000000803F000000000000803F04000001002300440035003200360052003400300010000000803F000000000000803F04000001002300450032003400350052003500300010000000803F000000000000803F04000001002300450034003700390047003600300010000000803F000000000000803F04000001002300450035003300300059003600300010000000803F000000000000803F04000001002300450035003700330047003600300010000000803F000000000000803F04000001002300460033003400340053003400300010000000803F000000000000803F04000001002300460033003400360047003500300010000000803F000000000000803F04000001002300460038003900330054003500300010000000803F000000000000803F04000001002300470035003300320052003500300010000000803F000000000000803F04000001002300480037003300320052003500300010000000803F000000000000803F040000010023004A0034003300320045003400300010000000803F000000000000803F040000010023004B0035003300350047003600300010000000803F000000000000803F040000010023004F0038003700350046003600300010000000803F000000000000803F04000001002300520034003600340047003600300010000000803F000000000000803F04000001002300530037003500330054003500300010000000803F000000000000803F04000001002300560034003700320053003300300010000000803F000000000000803F04000001002300100431003100320022043400FF01000000000000000B0000000B000000280000002800000000000000000000004000000041003400330036004800370044003300370038004400330045003200340035005200350035003300300059003600460033003400340053003400380039003300540035004700350033003200520035004A00340033003200450034004F00380037003500460036005300370035003300540035001004310031003200220434000E000000400000000081060000008106060000C0010C000081050D00000105120000C001170000810518000001051D00008106220000810628000081062E0000810634000001063A00000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__ExamOrde__817A266255BBC081]    Script Date: 22.06.2024 13:59:28 ******/
UPDATE STATISTICS [dbo].[ExamOrderProduct]([PK__ExamOrde__817A266255BBC081]) WITH STATS_STREAM = 0x01000000020000000000000000000000BD8978BD000000008E020000000000003602000000000000380300003800000004000A00000000000000000000000000E7030000E7000000C80000000000000015D0000028020000070000000D0C56018EB10000140000000000000014000000000000000000003FCDCCCC3DCDCC4C3D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000200000014000000000080410000A0410000000000008040000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000BA00000000000000C200000000000000CA00000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A3000000000000001000140000000040000000000000803F0100000004000010001400000000400000004000000040030000000400001000140000000040000000400000004005000000040000100014000000004000000040000000400700000004000010001400000000400000004000000040090000000400001000140000000040000000000000803F0A00000004000014000000000000000000000000000000,ROWCOUNT = 20,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK_ExamPickupPoint]    Script Date: 22.06.2024 13:59:28 ******/
UPDATE STATISTICS [dbo].[ExamPickupPoint]([PK_ExamPickupPoint]) WITH STATS_STREAM = 0x01000000010000000000000000000000C795DDF9000000000904000000000000C903000000000000380300003800000004000A00000000000000000000000000070000000B0C56018EB10000240000000000000024000000000000000000803F398EE33C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000130000000100000014000000000080400000104200000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000004D0200000000000055020000000000005D020000000000009800000000000000AF00000000000000C600000000000000DD00000000000000F4000000000000000B0100000000000022010000000000003901000000000000500100000000000067010000000000007E010000000000009501000000000000AC01000000000000C301000000000000DA01000000000000F10100000000000008020000000000001F020000000000003602000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F11000000040000100014000000803F0000803F0000803F13000000040000100014000000803F0000803F0000803F15000000040000100014000000803F0000803F0000803F17000000040000100014000000803F0000803F0000803F19000000040000100014000000803F0000803F0000803F1B000000040000100014000000803F0000803F0000803F1D000000040000100014000000803F0000803F0000803F1F000000040000100014000000803F0000803F0000803F21000000040000100014000000803F0000803F0000803F23000000040000100014000000803F000000000000803F2400000004000024000000000000000000000000000000,ROWCOUNT = 36,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_3B75D760]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000002_3B75D760] ON [dbo].[ExamProduct]([ProductName]) WITH STATS_STREAM = 0x01000000010000000000000000000000C27007830000000046080000000000000608000000000000E7030000E7000000FFFF00000000000015D0000000000000070000002074420193B10000140000000000000014000000000000000000803FCDCC4C3D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000001300000001000000100000009A9903420000A041000000009A990342000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000C90400000000000082060000000000008A0600000000000092060000000000009800000000000000DD0000000000000024010000000000006B010000000000009E01000000000000D101000000000000020200000000000037020000000000008202000000000000B302000000000000E8020000000000001D030000000000004E030000000000008503000000000000AE03000000000000E1030000000000001C0400000000000051040000000000009804000000000000300010000000803F000000000000803F04000001004500110430043B044C04370430043C04200034043B044F0420003304430431042000140438043E0440041B0438043F04300010000000803F000000000000803F0400000100470011043B04350441043A04200034043B044F042000330443043104200011044C044E0442043804200011043B043E044104300010000000803F000000000000803F04000001004700110440043E043D043704350440042000200430043D0434043E043C043D044B04390420002D044404440435043A044204300010000000803F000000000000803F040000010033001A043E043D04410438043B043B043504400420001D04300440044104300010000000803F000000000000803F040000010033001A04400435043C04200022043004400442043504280430043F043504300010000000803F000000000000803F040000010031001F043004400444044E043C042000120438043A0442043E044004300010000000803F0000803F0000803F040000010035001F043004400444044E043C0420001404360430043A043E04310441042000300010000000803F000000000000803F04000001004B001F043004400444044E043C0420003A0430043A043E0439042D0042043E042000350432043504410420002104350439043D044204300010000000803F000000000000803F040000010031001F043004400444044E043C0420001B0430043C043A043E043C04300010000000803F000000000000803F040000010035001F043004400444044E043C04200022043E043C04200024043E0440043404300010000000803F000000000000803F040000010035001F043004400444044E043C04200026043504450430043D0435043B043804300010000000803F000000000000803F040000010031001F043004400444044E043C042000280430043D0435043B044C04300010000000803F000000000000803F040000010037001F043E043C0430043404300420004300230020005500620075006E0074007500300010000000803F000000000000803F040000010029001F043E043C04300434043004200010043400300010000000803F000000000000803F04000001003300220435043D043804200010043D043004410442043004410438044F04300010000000803F000000000000803F04000001003B00220435043D0438042000130435043E044004330438043904200010043C043D044F043C04300010000000803F000000000000803F04000001003500220435043D043804200023044004310430043D04420438043A0430043904300010000000803F000000000000803F0400000100470022043E043D0430043B044C043D044B04390420003A04400435043C04200018043A044104200024043B04510443044004300010000000803F000000000000803F040000010031002204430448044C04200022044304240435043904410438044204FF01000000000000000B0000000B000000280000002800000000000000000000009D000000110430043B044C04370430043C04200034043B044F0420003304430431042000140438043E0440041B0438043F0440043E043D043704350440042000200430043D0434043E043C043D044B04390420002D044404440435043A0442041A04400435043C04200022043004400442043504280430043F0435041F043004400444044E043C04200013044304470438043A0430043A043E0439042D0042043E042000350432043504410420002104350439043D04420422043E043C04200024043E044004340426043504450430043D0435043B0438043E043C0430043404300420004300230020005500620075006E0074007500220435043D043804200010043D043004410442043004410438044F0423044004310430043D04420438043A0430043904430448044C04200022044304240435043904410438044204110000004000000000C00100000081160100000117170000810E2E0000C0013C0000C0063D00008104430000811347000081085A00000108620000010F6A00004001790000C0047A000081097E0000010A870000010C9100000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_3B75D760]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000003_3B75D760] ON [dbo].[ExamProduct]([ProductDescription]) WITH STATS_STREAM = 0x01000000010000000000000000000000D9AA33570000000065080000000000002508000000000000E7030000E7000000FFFF00000000000015D0000000000000070000002074420193B100001400000000000000140000000000000000000000CDCC4C3D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000140000001400000001000000100000003333FF410000A041000000003333FF41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000EA04000000000000A106000000000000A906000000000000B106000000000000A000000000000000DD0000000000000016010000000000004D010000000000008401000000000000C101000000000000FE0100000000000039020000000000007A020000000000009F02000000000000CA02000000000000FB020000000000002E030000000000006D03000000000000B2030000000000000104000000000000360400000000000065040000000000009204000000000000BD04000000000000300010000000803F000000000000803F04000001003D00120434043E0445043D043E0432043B0435043D043D044B04390420003B04350442043E043C04300010000000803F000000000000803F04000001003900120435043B0438043A043804390420003804200043043604300441043D044B043904300010000000803F000000000000803F0400000100370012044B0441043E043A043E04350420003F043E043A0440044B04420438043504300010000000803F000000000000803F0400000100370018043404350430043B044C043D044B04390420003C0430043A0438044F043604300010000000803F000000000000803F04000001003D001B043504330435043D043404300440043D044B0439042000360435043D0441043A0438043904300010000000803F000000000000803F04000001003D001B043504330435043D043404300440043D044B04390420003C044304360441043A043E043904300010000000803F000000000000803F04000001003B001B04350433043A043804390420003804200032043E0437043404430448043D044B043904300010000000803F000000000000803F040000010041001C0430043A04410438043C0430043B044C043D043E04350420003F043E043A0440044B04420438043504300010000000803F000000000000803F040000010025001C04300442043E0432044B043904300010000000803F000000000000803F04000001002B001D043E0442044B04200038044004380441043004300010000000803F000000000000803F040000010031001D0443042000420430043A0420003F043E043904340435044204300010000000803F000000000000803F040000010033001E0431044A0451043C043D044B0439042000370430043F0430044504300010000000803F000000000000803F04000001003F001E04420420003704300433043004400430042000380420003F043504400435043304300440043004300010000000803F000000000000803F04000001004500210420003D043E04420430043C0438042000310430043D043D043E0433043E042000320435043D0438043A043004300010000000803F000000000000803F04000001004F0021043B04300434043A04380439042000380420004F0440043A04380439042C0020003A0430043A04200048043E043A043E043B0430043404300010000000803F000000000000803F0400000100350021043E0431043B04300437043D043804420435043B044C043D044B043904300010000000803F000000000000803F04000001002F00220435043F043B044B04390420003F044004380451043C04300010000000803F000000000000803F04000001002D0023043B044C0442044004300433043B044F043D044604300010000000803F000000000000803F04000001002B0023043D0438043A0430043B044C043D044B043904300010000000803F000000000000803F04000001002D0026043204350442042000440443043A04410438044F04FF01000000000000000B0000000B00000028000000280000000000000000000000A1000000120434043E0445043D043E0432043B0435043D043D044B04390420003B04350442043E043C044B0441043E043A043E04350420003F043E043A0440044B044204380435041B043504330435043D043404300440043D044B0439042000360435043D0441043A04380439043A043804390420003804200032043E0437043404430448043D044B0439041C04300442043E0432044B0439041D0443042000420430043A0420003F043E0439043404350442041E0431044A0451043C043D044B0439042000370430043F0430044504210420003D043E04420430043C0438042000310430043D043D043E0433043E042000320435043D0438043A0430043E0431043B04300437043D043804420435043B044C043D044B04390423043B044C0442044004300433043B044F043D04460426043204350442042000440443043A04410438044F040F0000004000000000C0010000008112010000010F130000C0032200008110250000010F3500008107440000810D4B0000810E580000C0016600008116670000010E7D0000810B8B0000010B9600000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_3B75D760]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000004_3B75D760] ON [dbo].[ExamProduct]([ProductCategory]) WITH STATS_STREAM = 0x010000000100000000000000000000005F3E24A00000000087020000000000004702000000000000E7030000E7000000FFFF00000000000015D0000000000000070000002174420193B1000014000000000000001400000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000666696410000A04100000000666696410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000006400000000000000C300000000000000CB00000000000000D300000000000000100000000000000039000000000000003000100000004041000000000000803F040000010029001A043E0441043C043504420438043A0430043000100000000041000000000000803F04000001002B001F043004400444044E043C043504400438044F04FF01000000000000000B0000000200000028000000280000000000000000000000130000001A043E0441043C043504420438043A0430041F043004400444044E043C043504400438044F040300000040000000008709000000040A0900000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000005_3B75D760]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000005_3B75D760] ON [dbo].[ExamProduct]([ProductPhoto]) WITH STATS_STREAM = 0x0100000001000000000000000000000065DB96F3000000001B02000000000000DB01000000000000E7020000E7000000FFFF00000000000015D0000000000000070000002174420193B1000014000000000000001400000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000400000A0410000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000210000000000000057000000000000005F0000000000000067000000000000000800000000000000300010000000A041000000000000803F040000010019003100FF01000000000000000B00000001000000280000002800000000000000000000000100000031000200000040000000000B010000000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000006_3B75D760]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000006_3B75D760] ON [dbo].[ExamProduct]([ProductManufacturer]) WITH STATS_STREAM = 0x010000000100000000000000000000002BBB9D9C0000000062060000000000002206000000000000E7030000E7000000FFFF00000000000015D0000000000000070000002174420193B10000140000000000000014000000000000000000803FF1F0703D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F0000000F00000001000000100000000000B0410000A041000000000000B04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000041030000000000009E04000000000000A604000000000000AE040000000000007800000000000000C100000000000000F60000000000000023010000000000004E010000000000007901000000000000A401000000000000C301000000000000EE010000000000002F0200000000000064020000000000009702000000000000C802000000000000ED020000000000001803000000000000300010000000803F000000000000803F04000001004900120438043704430430043B04210442044304340438043E0420002D043D044204350440044204350439043C0435043D044204300010000000803F000000000000803F04000001003500120438043A0442043E0440042D043D043404100434043E043B044C044404300010000000803F000000000000803F04000001002D0012043B04300434042000110443043C043004330430043000100000000040000000400000803F04000001002B0014043E043B044C04470435041C0438043B043A04300010000000803F000000000000803F04000001002B001A043E043A043E04480430043D0435043B044C04300010000000803F000000000000803F04000001002B001C0430043A042000210442044304340438044F043000100000000040000000000000803F04000001001F001D04300440044104300010000000803F000000000000803F04000001002B001E04110421042000410442044304340438043E04300010000000803F000000000000803F040000010041001E041E041E04200018043D0432043504410442043804460438044F041A044004300441043E0442044B04300010000000803F000000000000803F040000010035001E041E041E0420002204510442044F0420001D043004410442044F0420003000100000000040000000000000803F04000001003300210442044304340438044F0420001A044004300441043E0442044B04300010000000803F000000000000803F04000001003100210442044304340438044F042000200430043D0434043E043C04300010000000803F000000000000803F0400000100250022043E043C0424043E0440043404300010000000803F000000000000803F04000001002B00240435043D044204380411044C044E0442043804300010000000803F000000000000803F040000010029002F043A043E04310441041C04300440043A04FF01000000000000000B0000000B0000002800000028000000000000000000000074000000120438043704430430043B04210442044304340438043E0420002D043D044204350440044204350439043C0435043D0442043B04300434042000110443043C04300433043004140438043E0440043E043B044C04470435041C0438043B043A041C0430043A042000210442044304340438044F041D043004400441041E04110421042000410442044304340438043E041E041E0420002204510442044F0420001D043004410442044F042000210442044304340438044F0420001A044004300441043E0442044B0422043E043C0424043E04400434042F043A043E04310441041C04300440043A040F0000004000000000C0010000008118010000010A190000C00123000081032400000109270000810A30000081043A0000C0013E000081093F0000010E480000810E560000810764000001096B00000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000008_3B75D760]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000008_3B75D760] ON [dbo].[ExamProduct]([ProductDiscountAmount]) WITH STATS_STREAM = 0x010000000100000000000000000000000CEB77CF00000000F002000000000000B002000000000000300200003000000001000300000000000000000000000000070000001F74420193B10000140000000000000014000000000000000000803F2549923D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000B0000000B00000001000000110000000000803F0000A041000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000034010000000000003C01000000000000440100000000000058000000000000006C0000000000000080000000000000009400000000000000A800000000000000BC00000000000000D000000000000000E400000000000000F8000000000000000C010000000000002001000000000000100011000000803F000000000000803F00040000100011000000803F000000000000803F05040000100011000000803F0000803F0000803F07040000100011000000803F000000000000803F0B040000100011000000803F0000803F0000803F0D0400001000110000008040000000000000803F12040000100011000000803F000000000000803F14040000100011000000803F0000803F0000803F1E0400001000110000000040000000000000803F280400001000110000004040000000000000803F2D040000100011000000803F000000000000803F6304000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000009_3B75D760]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000009_3B75D760] ON [dbo].[ExamProduct]([ProductQuantityInStock]) WITH STATS_STREAM = 0x010000000100000000000000000000003F0D295100000000CB030000000000008B03000000000000380300003800000004000A00000000000000000000000000070000001F74420193B10000140000000000000014000000000000000000803F3694573D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000110000000100000014000000000080400000A04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000000F0200000000000017020000000000001F0200000000000088000000000000009F00000000000000B600000000000000CD00000000000000E400000000000000FB0000000000000012010000000000002901000000000000400100000000000057010000000000006E0100000000000085010000000000009C01000000000000B301000000000000CA01000000000000E101000000000000F801000000000000100014000000803F000000000000803F00000000040000100014000000803F000000000000803F0A000000040000100014000000803F000000000000803F0B000000040000100014000000803F000000000000803F10000000040000100014000000803F000000400000803F140000000400001000140000000040000000000000803F29000000040000100014000000803F000000000000803F2D000000040000100014000000803F000000000000803F2F000000040000100014000000803F000000000000803F38000000040000100014000000803F000000000000803F4B000000040000100014000000803F000000000000803F53000000040000100014000000803F000000000000803F54000000040000100014000000803F000000000000803F58000000040000100014000000803F000000000000803F64000000040000100014000000803F000000000000803F96000000040000100014000000803F000000000000803F0A010000040000100014000000803F000000000000803F9A01000004000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_0000000A_3B75D760]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_0000000A_3B75D760] ON [dbo].[ExamProduct]([ProductStatus]) WITH STATS_STREAM = 0x01000000010000000000000000000000BAA109080000000093020000000000005302000000000000E7030000E7000000FFFF00000000000015D0000000000000070000002274420193B1000014000000000000001400000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000333393410000A04100000000333393410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000006A00000000000000CF00000000000000D700000000000000DF00000000000000100000000000000039000000000000003000100000009841000000000000803F04000001002900120420003D0430043B043804470438043804300010000000803F000000000000803F040000010031001D04350442042000320420003D0430043B043804470438043804FF01000000000000000B000000020000002800000028000000000000000000000016000000120420003D0430043B0438044704380438041D04350442042000320420003D0430043B0438044704380438040300000040000000008A09000000010D0900000014000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__ExamProd__2EA7DCD5BF55BCD9]    Script Date: 22.06.2024 13:59:28 ******/
UPDATE STATISTICS [dbo].[ExamProduct]([PK__ExamProd__2EA7DCD5BF55BCD9]) WITH STATS_STREAM = 0x01000000010000000000000000000000EA55E4AC000000001006000000000000D005000000000000E7030000E7000000C80000000000000015D0000000000000070000000E0C56018EB100001400000000000000140000000000000000000000CDCC4C3D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000014000000140000000100000010000000000040410000A04100000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000005C030000000000004C0400000000000054040000000000005C04000000000000A000000000000000C300000000000000E60000000000000009010000000000002C010000000000004F0100000000000072010000000000009501000000000000B801000000000000DB01000000000000FE010000000000002102000000000000440200000000000067020000000000008A02000000000000AD02000000000000D002000000000000F30200000000000016030000000000003903000000000000300010000000803F000000000000803F04000001002300410034003300360048003700300010000000803F000000000000803F04000001002300440033003400340059003700300010000000803F000000000000803F04000001002300440033003700380044003300300010000000803F000000000000803F04000001002300440035003200360052003400300010000000803F000000000000803F04000001002300450032003400350052003500300010000000803F000000000000803F04000001002300450034003700390047003600300010000000803F000000000000803F04000001002300450035003300300059003600300010000000803F000000000000803F04000001002300450035003700330047003600300010000000803F000000000000803F04000001002300460033003400340053003400300010000000803F000000000000803F04000001002300460033003400360047003500300010000000803F000000000000803F04000001002300460038003900330054003500300010000000803F000000000000803F04000001002300470035003300320052003500300010000000803F000000000000803F04000001002300480037003300320052003500300010000000803F000000000000803F040000010023004A0034003300320045003400300010000000803F000000000000803F040000010023004B0035003300350047003600300010000000803F000000000000803F040000010023004F0038003700350046003600300010000000803F000000000000803F04000001002300520034003600340047003600300010000000803F000000000000803F04000001002300530037003500330054003500300010000000803F000000000000803F04000001002300560034003700320053003300300010000000803F000000000000803F04000001002300100431003100320022043400FF01000000000000000B0000000B000000280000002800000000000000000000004000000041003400330036004800370044003300370038004400330045003200340035005200350035003300300059003600460033003400340053003400380039003300540035004700350033003200520035004A00340033003200450034004F00380037003500460036005300370035003300540035001004310031003200220434000E000000400000000081060000008106060000C0010C000081050D00000105120000C001170000810518000001051D00008106220000810628000081062E0000810634000001063A00000014000000000000000000000000000000,ROWCOUNT = 20,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK__ExamRole__8AFACE3AA2D40FB8]    Script Date: 22.06.2024 13:59:28 ******/
UPDATE STATISTICS [dbo].[ExamRole]([PK__ExamRole__8AFACE3AA2D40FB8]) WITH STATS_STREAM = 0x0100000001000000000000000000000005FFFD5700000000F401000000000000B401000000000000300300003000000001000300000000000000000000000000070000000F0C56018EB10000030000000000000003000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00004040000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000038000000000000004000000000000000480000000000000010000000000000002400000000000000100011000000803F000000000000803F01040000100011000000803F0000803F0000803F0304000003000000000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_3F466844]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000002_3F466844] ON [dbo].[ExamUser]([RoleID]) WITH STATS_STREAM = 0x01000000010000000000000000000000AA7A3A0C000000001002000000000000D001000000000000300300003000000001000300000000000000000000000000070000000F0C56018EB100003200000000000000320000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000110000000000803F00004842000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000054000000000000005C00000000000000640000000000000018000000000000002C0000000000000040000000000000001000110000007041000000000000803F01040000100011000000B841000000000000803F020400001000110000004041000000000000803F0304000032000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000006_3F466844]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000006_3F466844] ON [dbo].[ExamUser]([UserLogin]) WITH STATS_STREAM = 0x01000000010000000000000000000000574960AD00000000FD0D000000000000BD0D000000000000E7030E87E7000000FFFF00000000000015D0000000000000070000003A6B0B0194B10000320000000000000032000000000000000000803F0AD7A33C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000003000000001000000100000000000E04100004842000000000000E041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000100B000000000000390C000000000000410C000000000000490C0000000000008001000000000000B301000000000000E60100000000000019020000000000004C020000000000007F02000000000000B202000000000000E50200000000000018030000000000004B030000000000007E03000000000000B103000000000000E40300000000000017040000000000004A040000000000007D04000000000000B004000000000000E304000000000000160500000000000049050000000000007C05000000000000AF05000000000000E205000000000000150600000000000048060000000000007B06000000000000AE06000000000000E106000000000000140700000000000047070000000000007A07000000000000AD07000000000000E007000000000000130800000000000046080000000000007908000000000000AC08000000000000DF08000000000000120900000000000045090000000000007809000000000000AB09000000000000DE09000000000000110A000000000000440A000000000000770A000000000000AA0A000000000000DD0A000000000000300010000000803F000000000000803F040000010033006C006F00670069006E0044004500610064006C003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006100650065003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450062006E006A003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006300700068003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006400610074003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006400630064003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450064006A006D003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450064006D0069003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500640076006B003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500660065006F003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500660066006A003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006600720070003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500670063006F003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450067006E006C003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450067006E006F003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006700740074003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006700750070003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500690069006E003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450069006B0062003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450069006D0061003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006900730067003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006900730070003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500690077006C003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006A0062007A003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006A00690073003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006A00740076003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045006D00670075003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500700068006E003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450070006E0062003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007100640061003200300031003800300010000000803F0000803F0000803F040000010033006C006F00670069006E00440045007200640067003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007300670067003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450073006E0064003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007300790068003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500740066006A003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E0044004500740066007A003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007400680075003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450074006C0064003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450074006C006F003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450076006E0069003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450077006A0067003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007700710063003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007800650078003200300031003800300010000000803F0000803F0000803F040000010033006C006F00670069006E00440045007900660065003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007900760069003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E004400450079007A006E003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007A00650072003200300031003800300010000000803F000000000000803F040000010033006C006F00670069006E00440045007A006E0061003200300031003800FF01000000000000000C0000000C000000280000002800000000000000000000005A0000006C006F00670069006E0044004500610064006C0032003000310038006400630064003200300031003800660065006F00320030003100380067006E006C003200300031003800690069006E0032003000310038007300700032003000310038006A007400760032003000310038007100740065003200300031003800730079006800320030003100380074006C0064003200300031003800770071006300320030003100380079007600690032003000310038000F00000040000000004007000000810707000081070E0000810715000081071C0000C001230000810624000001062A00008107300000810737000081073E0000810745000081074C000001075300000032000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000007_3F466844]    Script Date: 22.06.2024 13:59:28 ******/
CREATE STATISTICS [_WA_Sys_00000007_3F466844] ON [dbo].[ExamUser]([UserPassword]) WITH STATS_STREAM = 0x010000000100000000000000000000000FEB61C7000000004C0A0000000000000C0A000000000000E7030000E7000000FFFF00000000000015D0000000000000070000003B6B0B0194B10000320000000000000032000000000000000000803F0AD7A33C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002D0000002D0000000100000010000000295C3F410000484200000000295C3F410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008D0700000000000088080000000000009008000000000000980800000000000068010000000000008B01000000000000AE01000000000000D101000000000000F40100000000000017020000000000003A020000000000005D020000000000007E02000000000000A102000000000000C402000000000000E7020000000000000A030000000000002D03000000000000500300000000000073030000000000009603000000000000B903000000000000DC03000000000000FF030000000000002204000000000000450400000000000068040000000000008B04000000000000AE04000000000000D104000000000000F40400000000000017050000000000003A050000000000005D050000000000008005000000000000A305000000000000C605000000000000E9050000000000000C060000000000002F06000000000000520600000000000075060000000000009806000000000000BB06000000000000DE060000000000000107000000000000240700000000000047070000000000006A07000000000000300010000000803F000000000000803F04000001002300260034006A00590047007300300010000000803F000000000000803F040000010023002A0051006B00550078006300300010000000803F000000000000803F040000010023007B007B006B00730050006E00300010000000803F000000000000803F040000010023007B0041004400420064006300300010000000803F000000000000803F040000010023007C003000780057007A005600300010000000803F000000000000803F040000010023007C0068002B0072007D004900300010000000803F000000000000803F04000001002300300067004300330062006B00300010000000803F000000000000803F0400000100210031003200330034003500300010000000803F0000803F0000803F04000001002300330036007C004B0068004600300010000000803F000000000000803F040000010023003400420062007A0070006100300010000000803F000000000000803F040000010023003400660071004C0069004F00300010000000803F000000000000803F040000010023003500260071004F004E004800300010000000803F000000000000803F040000010023003500260052002B007A007300300010000000803F000000000000803F04000001002300350038004A00780072006700300010000000803F000000400000803F04000001002300370059007000450030007000300010000000803F0000803F0000803F04000001002300390055006600710057005100300010000000803F000000000000803F04000001002300410039004B002B002B003200300010000000803F000000000000803F0400000100230063002B004300450043004B00300010000000803F000000000000803F0400000100230063004A0050002B0048004300300010000000803F000000000000803F04000001002300430070003800640064005500300010000000803F000000000000803F04000001002300640043003800620044004900300010000000803F000000000000803F04000001002300640066007A00350049006900300010000000803F000000000000803F04000001002300650034007000560049007600300010000000803F000000000000803F04000001002300460026004900570066003400300010000000803F000000000000803F0400000100230046007D006A00470073004A00300010000000803F000000000000803F04000001002300660032005A0061004E003600300010000000803F0000803F0000803F040000010023004B006A00490031004A005200300010000000803F000000000000803F040000010023004C0068006C006D0049006C00300010000000803F000000000000803F040000010023006C004C00480071005A006600300010000000803F000000000000803F040000010023004C0078005200360059004900300010000000803F000000000000803F040000010023006E0069003000750065003000300010000000803F000000000000803F040000010023004E004B004E006B0075007000300010000000803F000000000000803F040000010023006E004D0072007C0073007300300010000000803F000000000000803F04000001002300500031007600320034005200300010000000803F000000000000803F0400000100230071006800670059006E005700300010000000803F000000000000803F04000001002300520031007A0068007D007C00300010000000803F000000000000803F0400000100230072006E006800330036007B00300010000000803F000000000000803F0400000100230075005100590030005A005100300010000000803F000000000000803F04000001002300750073007300640038005100300010000000803F000000000000803F04000001002300760052007400410050002A00300010000000803F000000000000803F040000010023007700640069006F007B007500300010000000803F000000000000803F0400000100230078004900410057004E004900300010000000803F000000000000803F0400000100230058004B00330073004F004100300010000000803F000000000000803F04000001002300790039006C002A0062007D00300010000000803F000000000000803F0400000100230079007A00310069004D004200FF01000000000000000C0000000C0000002800000028000000000000000000000048000000260034006A005900470073007C0068002B0072007D004900330036007C004B00680046003500260052002B007A00730037005900700045003000700063002B004300450043004B00640066007A0035004900690048004F0047004600620055004C007800520036005900490050003100760032003400520075005100590030005A00510078004900410057004E0049000D00000040000000008106000000810606000081060C00008106120000810618000081061E0000810624000081062A00008106300000810636000081063C000001064200000032000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__ExamUser__1788CCAC0829F7A9]    Script Date: 22.06.2024 13:59:28 ******/
UPDATE STATISTICS [dbo].[ExamUser]([PK__ExamUser__1788CCAC0829F7A9]) WITH STATS_STREAM = 0x01000000010000000000000000000000D8897EC800000000E204000000000000A204000000000000380300003800000004000A00000000000000000000000000070000000C0C56018EB10000320000000000000032000000000000000000803F0AD7A33C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001A0000001A00000001000000140000000000804000004842000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000026030000000000002E030000000000003603000000000000D000000000000000E700000000000000FE0000000000000015010000000000002C0100000000000043010000000000005A01000000000000710100000000000088010000000000009F01000000000000B601000000000000CD01000000000000E401000000000000FB0100000000000012020000000000002902000000000000400200000000000057020000000000006E0200000000000085020000000000009C02000000000000B302000000000000CA02000000000000E102000000000000F8020000000000000F03000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F11000000040000100014000000803F0000803F0000803F13000000040000100014000000803F0000803F0000803F15000000040000100014000000803F0000803F0000803F17000000040000100014000000803F0000803F0000803F19000000040000100014000000803F0000803F0000803F1B000000040000100014000000803F0000803F0000803F1D000000040000100014000000803F0000803F0000803F1F000000040000100014000000803F0000803F0000803F21000000040000100014000000803F0000803F0000803F23000000040000100014000000803F0000803F0000803F25000000040000100014000000803F0000803F0000803F27000000040000100014000000803F0000803F0000803F29000000040000100014000000803F0000803F0000803F2B000000040000100014000000803F0000803F0000803F2D000000040000100014000000803F0000803F0000803F2F000000040000100014000000803F0000803F0000803F31000000040000100014000000803F000000000000803F3200000004000032000000000000000000000000000000,ROWCOUNT = 50,PAGECOUNT = 1,AUTO_DROP = OFF
GO
USE [master]
GO
